@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a1929;
  font-family: "Montserrat", serif;
}

.nav-main {
  background-color: #0f2942;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.buttons-nav {
  display: flex;
  align-items: center;
}

.buttons-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-nav a:hover {
  color: #0a1929;
  background-color: #fff;
}

.games {
  display: flex;
}

.banner {
  justify-content: center;
  flex-direction: column;
  background-color: #0f2942;
  max-width: 500px;
}

.minecraft {
  background: 
  linear-gradient(to top, #0a1929, transparent), 
  url("../img/minecraft.png");
  background-position: center;
  background-size: cover;
  
}

.explore{
  background-color: #4db6ac;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: 0.5s ease;
}

.explore:hover{
  background-color: #1f8b81;
}